body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

.banner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    /* Tamaño máximo del banner */
    margin: auto;
    overflow: hidden;
}

.banner-img {
    height: 400px;
    /* Altura estándar para las imágenes del banner */
    object-fit: cover;
    /* Mantiene el aspecto de las imágenes */
    width: 100%;
}


.cta {
    margin-bottom: 20px;
}

.info-cards .card {
    margin-bottom: 20px;
}

.galeria img {
    margin-bottom: 20px;
}

.testimonios {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
}

.footer-icons a {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #000;
    text-decoration: none;
}

.mr-4{
    margin-right: 10px;
    font-weight: bold;
}