body {
    font-family: 'Roboto', sans-serif;
}

header {
    margin-bottom: 20px;
}

.banner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.banner-img {
    height: 400px; 
    object-fit: cover;
    width: 100%;
}

.cta {
    margin-bottom: 20px;
}

.info-cards .card {
    margin-bottom: 20px;
    border: 2px solid #ccc; /* Borde agregado */
}

.info-cards .card .card-img-custom {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.galeria img {
    margin-bottom: 20px;
}

.testimonios {
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
}

.footer-icons a {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #000;
    text-decoration: none;
}

.mr-4 {
    margin-right: 10px;
    font-weight: bold;
}

/* Card specific styles */
.card {
    height: 100%; /* Ensure cards are of equal height */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-custom {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.border-custom {
    border: 2px solid #ccc; /* Borde agregado */
}
