body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #000;
    color:  #7c6a05; /* Dorado */
}

header {
    background-color: #333;
    color: #7c6a05; /* Dorado */
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
    color: #ffd700; /* Dorado */
}

h2 {
    color: #ffd700; /* Dorado */
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

p {
    margin: 10px 0;
    color: #978315; /* Dorado */
}
